$color-white: #f7f7f7;
$color-page: #f6f6f6;
$color-black: #131313;
$color-dark: #333;
$color-gray: #7c7c7c;
$color-light-gray: #d0d0d0;
$color-extra-light: #eefafa;
$color-accent: #0db2b3;
$color-accent-dark: #0c797a;
$content-max-width: 1194px;
$desktop-min-width: 1280px;
$tablet-min-width: 640px;
